.cont-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
  
}
.logo{
    height: 50px;
    
}
.logo-titulo{
    text-decoration: none;
    display: block;
    color: orangered;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.main{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.parrafo{
    color: orangered;
}
.container img{
    height: 200px;
    
}
.iconos-redes{
    color: black;
}
.footer{
    position: relative;
    top: 0;
    background-color: orangered;
    padding: 10px;
    width: 100%;
 
    
}
.contform{
    height: 300px;
}
.textInput{
    width:50%
}
.mailInput{
    width: 50%;
}
.colorText{
    color: white;
    
}
