.cont-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
  
}
.logo{
    height: 100px;
    border-radius: 100px;
}
.logo-titulo{
    text-decoration: none;
    display: block;
    color: orangered;
}